.git
.gitignore
.gitattributes
.vscode
.idea

node_modules
dist
coverage
npm-debug.log*

test
jest.config.js
sonar-project.properties

infra
.github
*.tfstate
*.tfstate.*
tfplan
tfplan.json

README.md
Dockerfile
.dockerignore
.dockerignore.ejemplo

.env
.env.*
*.pem
*.key
